{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "plugins": [
        "strict-null-checks"    
    ],
    "rules": {
        "@typescript-eslint/strict-boolean-expressions": "off",
        "@typescript-eslint/consistent-type-definitions": "off",
        "strict-null-checks/all": "off"
    }
}